<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
    <div th:replace="index.html :: navigation"></div>
    <div class="accessDenied_container">
        <h2>Access Denied</h2>
        <h3 class="error" th:text="${error}">Error placeholder</h3>
    </div>
    <script src="../static/profilePicture.js" th:src="@{/profilePicture.js}"></script>
</body>
</html>