<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicom-32x32.png"
          th:href="@{/images/favicom-32x32.png}">
</head>
<body>
<div th:replace="index.html :: navigation"></div>
<div th:replace="posts.html:: toolbar"></div>
<div class="main_container">
    <div class="table">
        <div class="row" th:unless="${posts.isEmpty()}">
            <div class="rowChild_container">
                <p th:text="${categoryTitle}" class="pageCategory_title">Category Title</p>
            </div>
            <div class="rowChild_container">
                <div class="cell" >
                    <img class="row_icon"  src="../static/images/comment.png" th:src="@{/images/comment.png}"
                         alt="">
                </div>
                <div class="cell">
                    <img class="row_icon" src="../static/images/like.png" th:src="@{/images/like.png}" alt="">

                </div>
                <div class="cell">
                    <span class="creationDate_label">Creation date</span>
                </div>
            </div>
        </div>
        <div th:if="${posts.isEmpty()}">
            <h4>No posts yet...</h4>
        </div>
        <div class="row" th:unless="${posts.isEmpty()}"
             th:each="post: ${posts}">
            <div class="rowChild_container">
                <a  href="#" th:href="@{/users/{id}(id=${post.getUser().getId()})}">
                    <img class="postAuthor_image image--rounded" src="../static/images/user.png" th:src="@{/users/{id}/image(id=${post.getUser().getId()})}"
                         alt="Default user photo">
                </a>
                <div class="postRow_info">
                    <a href="#" th:href="@{/posts/{id}(id=${post.getId()})}">
                        <h3 th:text="${post.getTitle()}">title</h3>
                    </a>
                    <a href="#" th:href="@{/users/{id}(id=${post.getUser().getId()})}">
                        Author:
                        <span class="post_author" th:text="${post.getUser().getUsername()}">username</span>
                    </a>
                </div>
            </div>
            <div class="rowChild_container">
                <span class="cell" th:text="${post.getComments().size()}">0</span>
                <span class="cell" th:text="${post.getVotes().size()}">0</span>
                <span class="cell" th:text="${post.getFormattedCreationDate()}"></span>
            </div>
        </div>
    </div>
</div>
<div th:replace="posts.html :: popupCreation_form"></div>
<script src="../static/posts.js" th:src="@{/posts.js}"></script>
<script src="../static/profilePicture.js" th:src="@{/profilePicture.js}"></script>
</body>
</html>