<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All categories</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicom-32x32.png"
          th:href="@{/images/favicom-32x32.png}">
</head>
<body>
<div th:replace="index.html :: navigation"></div>
<div class="main_container categories_container">
    <div th:replace="posts.html:: toolbar"></div>
    <div class="row">
        <div class="categoryName_container">
            <span>Category name</span>
        </div>
        <div class="cell categories">
            <img class="row_icon" src="../static/images/grey-comment.PNG" th:src="@{/images/grey-comment.png}"
                 alt="">
        </div>
    </div>
    <div th:if="${categories.isEmpty()}">
        <h4>No categories yet...</h4>
    </div>
    <div class="row" th:unless="${categories.isEmpty()}"
         th:each="category: ${categories}">
        <div class="categoryChild_row categoryName_container">
            <a href="#" th:href="@{/categories/{id}(id=${category.getId()})}">
            <h3 th:text="${category.getName()}"> Category name</h3>
            </a>
        </div>

        <div class="cell">
            <span th:text="${category.getNumberOfPosts}">0</span>
        </div>

    </div>
    <div class="categoryImg_container">
    <img class="categories_png" src="../static/images/categories2.png" th:src="@{/images/categories2.png}">
    </div>
</div>

<div th:replace="posts.html :: popupCreation_form"></div>
<script src="../static/posts.js" th:src="@{/posts.js}"></script>
<script src="../static/profilePicture.js" th:src="@{/profilePicture.js}"></script>
</body>
</html>