<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicom-32x32.png"
          th:href="@{/images/favicom-32x32.png}">
</head>
<body>
<div th:replace="index.html :: navigation"></div>
<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}"  th:object="${user}"  method="post">
    <div class="form_row">
            <label class="user_form_data">Old password:</label>
            <input th:value="${user.getPassword()}" type="text" name="old_password">
    </div>
    <div class="form_row">
            <label class="user_form_data">New password:</label>
            <input th:field="*{password}" type="text" name="new_password">
    </div>
</form>
<script src="../static/profilePicture.js" th:src="@{/profilePicture.js}"></script>
</body>
</html>