<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title >Title</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicom-32x32.png"
          th:href="@{/images/favicom-32x32.png}">
</head>
<body>
<div th:replace="index.html :: navigation"></div>
<div class="editPost_container">
    <h2>Edit Comment</h2>
    <form id="editPost_form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
          th:object="${newComment}" method="post">
        <div class="form_row">
            <label for="content">Content</label>
            <textarea name="content" id="content" th:field="*{content}"></textarea>
            <label class="error" th:errors="*{content}">Content must be between 32 and 8192 symbols</label>
        </div>
        <input class="button--lightOrange" type="submit" value="Save" id="createPost_btn">
    </form>
</div>
<script src="../static/profilePicture.js" th:src="@{/profilePicture.js}"></script>
</body>
</html>