<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getUsername()}">Title</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicom-32x32.png"
          th:href="@{/images/favicom-32x32.png}">
</head>
<body>
<div th:replace="index.html :: navigation"></div>
<div class="editUserMain_container">
    <div class="editForm_container">
        <div class="editForm_nav">
            <a href="#"  th:href="@{/users/{id}/update(id=${user.getId()})}">change user details</a>
            <span class="editFormNav_separator">|</span>
            <a class="editForm_link--active" href="#">change password</a>
            <span class="editFormNav_separator">|</span>
        </div>
        <h2>Change Password</h2>
        <form id="login_form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
              th:object="${password}"  method="post">
            <div class="form_row">
                <label class="user_form_data edit_password_form_label">Confirm old password:</label>
                <input class="edit_form_input" th:field="*{oldPassword}" type="password" name="first_name">
            </div>
            <div class="form_row">
                <label class="user_form_data edit_password_form_label">New password:</label>
                <input class="edit_form_input" th:field="*{newPassword}" type="password" name="first_name">
            </div>
            <div class="form_row">
                <label class="user_form_data edit_password_form_label">Confirm new password:</label>
                <input class="edit_form_input" th:field="*{confirmPassword}" type="password" name="first_name">
            </div>

            <label class="error" th:errors="*{newPassword}">Error</label>
            <button class="button--lightOrange">
                Save
            </button>

        </form>
    </div>
</div>
<script src="../static/profilePicture.js" th:src="@{/profilePicture.js}"></script>
</body>
</html>