<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${newPost.getTitle()}" >Title</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicom-32x32.png"
          th:href="@{/images/favicom-32x32.png}">
</head>
<body>
<div th:replace="index.html :: navigation"></div>
<div class="editPost_container">
    <h2>Edit New Post</h2>
    <form id="editPost_form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
          th:object="${newPost}" method="post">
        <div class="form_row">
            <label for="title">Title</label>
            <input type="text" id="title" placeholder="e.g. I can’t find IT job" name="title" th:field="*{title}">
            <label class="error" th:errors="*{title}">Title must be between 16 and 64 symbols</label>
        </div>

        <div class="form_row">
            <label for="content">Content</label>
            <textarea name="content" id="content" th:field="*{content}"></textarea>
            <label class="error" th:errors="*{content}">Content must be between 32 and 8192 symbols</label>
        </div>

    <!--    <div class="form_row">-->
    <!--        <label for="tag_input">Tags</label>-->
    <!--        <input type="hidden" id="allTags_input" th:field="*{tags}" >-->
    <!--        <div id="tags_container"></div>-->
    <!--        <input type="text" id="tag_input" placeholder="e.g. social skills">-->
    <!--        <input class="button&#45;&#45;lightOrange" type="submit" id="addTag_btn" value="Add tag to post">-->
    <!--    </div>-->
        <div class="form_row">
            <select id="categoryId" name="categoryId" >
                <option th:each="category : ${categories}"
                        th:value="${category.getId()}"
                        th:text="${category.getName()}"
                        th:selected="${category.getId() == categoryId}">
                    CategoryTest
                </option>
            </select>
        </div>
        <input class="button--lightOrange" type="submit" value="Save" id="createPost_btn">
    </form>
</div>
<script src="../static/profilePicture.js" th:src="@{/profilePicture.js}"></script>
</body>
</html>