<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getUsername()}">Title</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicom-32x32.png"
          th:href="@{/images/favicom-32x32.png}">
</head>
<body>
<div th:replace="index.html :: navigation"></div>
<div class="editUserMain_container">
    <div class="editForm_container">
        <div class="editForm_nav">
            <a class="editForm_link--active" href="#">change user details</a>
            <span class="editFormNav_separator">|</span>
            <a href="#" th:href="@{/users/{id}/update-password(id=${userId})}">change password</a>
            <span class="editFormNav_separator">|</span>
        </div>

        <div class="editPicture_container">
            <p>Profile picture</p>
            <img class="postAuthor_image" src="../static/images/user.png" th:src="@{/users/{id}/image(id=${userId})}"
                 alt="Default user photo">

            <form th:action="@{/users/{id}/image-upload(id=${userId})}" action="#" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="">
                <input type="submit" value="save">
            </form>
        </div>
    <form id="login_form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
        th:object="${user}"  method="post">
        <div class="form_row">
            <label class="user_form_data edit_form_label">First name:</label>
            <input class="edit_form_input" th:value="${user.getFirstName()}" th:field="*{firstName}" type="text" name="first_name">
        </div>
        <div class="form_row">
            <label class="user_form_data edit_form_label">Last name:</label>
            <input class="edit_form_input" th:value="${user.getLastName()}" th:field="*{lastName}" type="text" name="last_name">
        </div>
        <div class="form_row">
            <label class="user_form_data edit_form_label">Email:</label>
            <input class="edit_form_input" th:value="${user.getEmail()}" th:field="*{email}" type="email" name="email">
        </div>
<!--        TODO - add confirm password here-->
<!--        <div class="form_row">-->
<!--            <label class="user_form_data">New password:</label>-->
<!--            <input th:value="${user.getPas()}" th:field="*{password}" type="password" name="new_password">-->
<!--        </div>-->
<!--        TODO - add confirm password field-->
<!--        <div class="form_row">-->
<!--            <label class="user_form_data">Old password:</label>-->
<!--            <input type="text" name="confirm old password">-->
<!--        </div>-->
        <button class="button--lightOrange">
            Apply changes
        </button>

    </form>
    </div>
</div>
<script src="../static/profilePicture.js" th:src="@{/profilePicture.js}"></script>
</body>
</html>