<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicom-32x32.png"
        th:href="@{/images/favicom-32x32.png}">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div th:if="${isAuthenticated}" th:fragment="navigation" class="navigation_container">
    <div class="navigation_container--left">
        <a href="#" th:href="@{/}">
            <img class="logo_icon" src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="">
        </a>
        <span class="logo_text">Soft Skills Forum</span>
    </div>

    <div class="navigation_container--right">
        <div class="search_container">
            <span class="search_text">Find the missing piece.</span>
        </div>
        <a th:unless="${isAuthenticated}" class="login_button" href="#" th:href="@{/auth/login}" >login</a>
        <div th:if="${isAuthenticated}" class="userImg_navigationBar">
            <img src="#"  id="profilePictureSwitch" class="navigationProfile_img image--rounded" th:src="@{/users/{id}/image(id=${getUserId})}" alt="profilePicture">
            <div id="loggedUser_dropDown" class="userOptions_navigationBar hide">
            <a class="myProfile_button" href="#" th:href="@{/users/{id}(id=${getUserId})}">My profile </a>
            <a class="logout_button" href="#" th:href="@{/auth/logout}" >logout</a>
            </div>
        </div>
    </div>
</div>
<div th:unless="${isAuthenticated}" th:fragment="navigation" class="navigation_container">
    <div class="navigation_container--left">
        <a href="#" th:href="@{/}">
            <img class="logo_icon" src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="">
        </a>
        <span class="logo_text">Soft Skills Forum</span>
    </div>

    <div class="navigation_container--right">
        <div class="search_container">
            <span class="search_text">Find the missing piece.</span>
        </div>
        <a th:unless="${isAuthenticated}" class="login_button" href="#" th:href="@{/auth/login}" >login</a>
    </div>
</div>

<div class="main_container container--flex">
    <div class="main_container--left">
        <h2 class="category_title">Categories</h2>
                    <div th:if="${categories.isEmpty()}">
                        <h2>No Categories</h2>
                    </div>
        <div th:unless="${categories.isEmpty()}" class="categoriesList_container">
            <div th:each="category: ${categories}" class="category_container">
                <a href=""  th:href="@{/categories/{id}(id=${category.getId()})}">
                    <h4 th:text="${category.getName()}">No category</h4>
                </a>
            </div>
        </div>

        <div class="categoryContainer_footer">
            <!--                    /*Change to getActiveUsers()*/-->
            <a class="list_link" href="#" th:href="@{/users}">
                Active users:
                <span th:text="${usersSize}">0</span>
            </a>

            <a class="list_link" href="#"
               th:href="@{/posts}">
                All posts:
                <span th:text="${postsSize}">0</span>
            </a>
        </div>
    </div>

    <div class="main_container--right">
        <div class="aagePostsContainer_Title">
            <h2>Posts</h2>
            <select class="button--lightOrange" name="" id="homePosts_switch">
                <option value="most-recent">10 Most Recent</option>
                <option value="most-commented">10 Most Commented</option>
            </select>
        </div>
        <div th:if="${posts.isEmpty()}">
            <h4>No posts yet...</h4>
        </div>
        <div th:unless="${posts.isEmpty()}" class="postListing_container">
            <div id="mostCommented_posts" class="hide">
                <div th:each="post: ${mostCommentedPosts}" class="postListing_child">
                    <div class="postListing_child--left">
                        <a href="#" th:href="@{/posts/{id}(id=${post.getId()})}">
                            <h3 th:text="${post.getTitle()}">title</h3>
                        </a>
                        <span class="post_creationDate" th:text="${post.getFormattedCreationDate()}"></span>
                        <div>
                            <a href="#" th:href="@{/users/{id}(id=${post.getUser().getId})}">
                                <img class="author_default_icon image--rounded xx" src="../static/images/user.png"
                                     th:src="@{/users/{id}/image(id=${post.getUser().getId()})}" alt="Default user photo">
                            </a>
                        </div>
                        <!--                        this is not in a div      -->
                        <div class="postListing_info">
                            <a href="#" th:href="@{/categories/{id}(id=${post.getCategory().getId})}">
                                <p th:text="${post.getCategory().getName()}">categoryName</p>
                            </a>
                            <a href="#" th:href="@{/users/{id}(id=${post.getUser().getId})}">
                                <p class="post_author" th:text="${post.getUser().getUsername()}">username</p>
                            </a>
                        </div>
                    </div>

                    <div class="postListing_child--right">
                        <div class="count_container">
                            <img class="count_icon" src="../static/images/comment.png" th:src="@{/images/comment.png}"
                                 alt="">
                            <span class="count" th:text="${post.getComments().size()}"></span>
                        </div>
                        <div class="count_container">
                            <img class="count_icon" src="../static/images/like.png" th:src="@{/images/like.png}" alt="">
                            <span class="count" th:text="${post.getVotes().size()}"></span>
                        </div>
                    </div>

                </div>
            </div>
            <div th:each="post: ${mostRecentPosts}" class="postListing_child">
                <div class="postListing_child--left">
                    <a href="#" th:href="@{/posts/{id}(id=${post.getId})}">
                        <h3 th:text="${post.getTitle()}">title</h3>
                    </a>
                    <span class="post_creationDate" th:text="${post.getFormattedCreationDate()}"></span>
                    <div>
                        <a href="#" th:href="@{/users/{id}(id=${post.getUser().getId})}">
                            <img class="author_default_icon image--rounded yy" src="../static/images/user.png"
                                 th:src="@{/users/{id}/image(id=${post.getUser().getId()})}" alt="Default user photo">
                        </a>
                    </div>
                    <!--                        this is not in a div      -->
                    <div class="postListing_info">
                        <a href="#" th:href="@{/categories/{id}(id=${post.getCategory().getId})}">
                            <p th:text="${post.getCategory().getName()}">categoryName</p>
                        </a>
                        <a href="#" th:href="@{/users/{id}(id=${post.getUser().getId})}">
                            <p class="post_author" th:text="${post.getUser().getUsername()}">username</p>
                        </a>
                    </div>
                </div>
                <div class="postListing_child--right">
                    <div class="count_container">
                        <img class="count_icon" src="../static/images/comment.png" th:src="@{/images/comment.png}"
                             alt="">
                        <span class="count" th:text="${post.getComments().size()}"></span>
                    </div>
                    <div class="count_container">
                        <img class="count_icon" src="../static/images/like.png" th:src="@{/images/like.png}" alt="">
                        <span class="count" th:text="${post.getVotes().size()}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/index.js" th:src="@{index.js}"></script>
<script src="../static/profilePicture.js" th:src="@{/profilePicture.js}"></script>
</body>
</html>