<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not found</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicom-32x32.png"
          th:href="@{/images/favicom-32x32.png}">
</head>
<body>
<div th:replace="index.html :: navigation"></div>
<div class="error_container">
<div>
<img  src="../static/images/like.png" th:src="@{/images/not_matching.png}">
</div>
<div class="errorInfo_container">
<p> 404. That's an error.</p>
<p> The requested URL
    <span class="notFound_link">
        localhost:8080
        <span th:text="@{__${#httpServletRequest.requestURI}__}"></span>
    </span>
    was not found on this server. That's all we know.</p>
</div>
</div>
<script src="../static/profilePicture.js" th:src="@{/profilePicture.js}"></script>
</body>
</html>