<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getUsername()}" > User </title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicom-32x32.png"
          th:href="@{/images/favicom-32x32.png}">
</head>
<body>
<div th:replace="index.html :: navigation"></div>
<div class="editUserMain_container">
    <div class="editForm_container">
        <form id="login_form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
              th:object="${phoneNumber}"  method="post">
            <div class="form_row">
                <label class="user_form_data">Phone number:</label>
                <input th:value="${phoneNumber}" th:field="*{phoneNumber}" type="text" name="phoneNumber">
                <label class="error" th:errors="*{phoneNumber}">Phone number should be betwenn 8 to 10 characters!</label>

            </div>
            <button class="button--lightOrange">
                Apply changes
            </button>

        </form>
    </div>
</div>
<script src="../static/profilePicture.js" th:src="@{/profilePicture.js}"></script>
</body>
</html>