<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.getTitle()}">Post Title</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicom-32x32.png"
          th:href="@{/images/favicom-32x32.png}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div th:replace="index.html :: navigation"></div>
<div class="main_container">
    <div th:replace="posts.html:: toolbar"></div>
    <div class="postOuter_container">
<!--        <div class="postSide_placeholder"></div>-->
        <div class="content_container">
            <div class="post_main_container">
                <div class="post_main--left" >
                    <div class="postCount_container" th:if="${post.getVotes().contains(user)}">
                        <form action="#" th:action="@{/posts/{postId}/votes(postId=${post.getId()})}" method="post">
                            <button>
                                <img class="like_icon postLike_icon 1" src="../static/images/fullLike.png" th:src="@{/images/fullLike.png}" alt="full Like button">
                            </button>
                        </form>
                    </div>
                    <div th:unless="${post.getVotes().contains(user)}" class="postCount_container">
                        <form action="#" th:action="@{/posts/{postId}/votes(postId=${post.getId()})}" method="post">
                            <button th:if="${isAuthenticated}">
                                <img  id="postLike_icon" class="like_icon postLike_icon 2" src="../static/images/like.png" th:src="@{/images/like.png}" alt="Like button photo">
                            </button>
                            <button th:unless="${isAuthenticated}" >
                                <img class="like_icon postLike_icon cursor--forbidden" alt="Like button photo"
                                     src="../static/images/like.png" th:src="@{/images/like.png}">
                            </button>
                        </form>
                    </div>
                    <p id="postVotes_count" th:text="${post.getVotes().size()}">0 </p>
                </div>
                <div class="post_main--right">
                    <div class="post_info">
                        <div class="author_info">
                            <a href="#" th:href="@{/users/{id}(id=${post.getUser().getId()})}">
                            <img class="postAuthor_image image--rounded" src="../static/images/user.png"
                                 th:src="@{/users/{id}/image(id=${post.getUser().getId()})}" alt="Default user photo">
                            </a>
                            <a href="#" th:href="@{/users/{id}(id=${post.getUser().getId()})}" class="post_author" th:text="${post.getUser().getUsername()}">Post author</a>
                        </div>
                        <span class="post_creationDate"
                              th:text="${post.getFormattedCreationDate()}">Post creation date </span>
                    </div>
                    <h2 class="post_title" th:text="${post.getTitle()}"> Post title </h2>
                    <p class="category_title" th:text="${post.getCategory().getName()}">Post category</p>
                    <p class="post_content" th:text="${post.getContent()}"> Post content</p>

                    <div class="postTags_container">
                        <div class="tagPreview_container" th:each="tag: ${post.getTags()}">
                            <span th:text="${tag.getTagName()}">tagname</span>
                        </div>
                    </div>

                    <div th:if="${isOwnerOrAdmin}" class="post_controllers controllers">
                        <a href="" th:href="@{__${#httpServletRequest.requestURI}__/update}">edit |</a>
                        <a href="" onclick="deletePost(event)"
                           th:href="@{__${#httpServletRequest.requestURI}__/delete}">
                            delete |
                        </a>
                    </div>
                </div>
            </div>
            <div th:if="${comments.isEmpty()}">
                <h4>No comments yet...</h4>
            </div>
            <div th:unless="${comments.isEmpty()}">
                <h2 class="commentsContainer_title">All comments</h2>
                <div th:each="comment: ${comments}" class="post_main_container">
                    <div class="post_main--left">
                        <div class="postCount_container" th:if="${comment.getVotes().contains(user)}" >
                            <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/comments/{commentId}/votes(commentId=${comment.getId()})}" method="post">
                                <button>
                                    <img class="like_icon postLike_icon 1" src="../static/images/fullLike.png" th:src="@{/images/fullLike.png}" alt="full Like button">
                                </button>
                            </form>                        </div>
                        <div th:unless="${comment.getVotes().contains(user)}" class="postCount_container">
                            <form action="#"th:action="@{__${#httpServletRequest.requestURI}__/comments/{commentId}/votes(commentId=${comment.getId()})}" method="post">
                                <button th:unless="${isAuthenticated}">
                                    <img class="like_icon postLike_icon cursor--forbidden" alt="Like button photo"
                                         src="../static/images/like.png" th:src="@{/images/like.png}">
                                </button>
                                <button th:if="${isAuthenticated}">
                                    <img th:if="${isAuthenticated}" class="like_icon commentLike_icon" src="../static/images/like.png" th:src="@{/images/like.png}"
                                         alt="Like button photo" >
                                </button>
                            </form>
                        </div>
                        <p class="count" th:text="${comment.getVotes().size()}">0 </p>
                    </div>
                    <div class="post_main--right">
                        <div class="comment_info">
                            <div class="author_info">
                                <img class="postAuthor_image image--rounded" src="../static/images/user.png"
                                     th:src="@{/users/{id}/image(id=${comment.getUser().getId()})}" alt="Default user photo">
                                <a href="#" th:href="@{/users/{id}(id=${comment.getUser().getId()})}" class="post_author" th:text="${comment.getUser().getUsername()}">
                                    Comment author
                                </a>
                            </div>
                            <div>
                                <span class="comment_creationDate" th:text="${comment.getFormattedCreationDate()}">Comment creation date </span>
                            </div>
                        </div>
                        <p class="comment_content" th:text="${comment.getContent()}"> Post content</p>
                        <div class="post_controllers controllers">
                            <a th:if="${isAuthenticated}"  href="" th:href="@{__${#httpServletRequest.requestURI}__/comments/{commentId}/update(commentId=${comment.getId()})}">edit |</a>
                            <a th:if="${isAuthenticated}"  href="" onclick="deletePost(event)"
                               th:href="@{__${#httpServletRequest.requestURI}__/comments/{commentId}/delete(commentId=${comment.getId()})}">
                                delete |
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${isAuthenticated}" class="commentCreation_container">
                <form class="addComment_container" action="#" th:action="@{/posts/{postId}/comments(postId=${post.getId()})}"
                th:object="${newComment}" method="post">
                    <div class="commentTextArea_container">
                        <textarea class="comment_textarea" name="" id="comment_textarea" cols="30" rows="10" th:field="*{content}" placeholder="Write a comment..."></textarea>
                        <div id="the-count">
                            <span id="current">0</span>
                            <span id="maximum">/ 8192</span>
                        </div>
                    </div>
                    <label class="error" th:errors="*{content}">Content must be between 32 and 8192 symbols</label>
                    <input class="submit_button" type="submit" value="submit">
                </form>
            </div>
        </div>
        <div>
            <div class="relatedPostsOuter_container">
                <img class="relatedPosts_image" src="../static/images/relatedPosts_placeholder.png" th:src="@{/images/relatedPosts_placeholder.png}" alt="">
                <div th:if="${relatedPosts.isEmpty()}">
                    No related posts yet....
                </div>
                <div class="relatedPosts_container" th:unless="${relatedPosts.isEmpty()}">
                    <div th:each="relatedPost: ${relatedPosts}" class="relatedPost_row row">
                        <span class="relatedPost_count" th:text="${relatedPost.getVotes().size()}">0</span>
                        <a th:href="@{/posts/{id}(id=${relatedPost.getId()})}" href="#" th:text="${relatedPost.getTitle()}">post title</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="posts.html :: popupCreation_form"></div>

<script src="../static/confirm.js" th:src="@{/confirm.js}"></script>
<script src="../static/posts.js" th:src="@{/posts.js}"></script>
<script src="../static/post.js" th:src="@{/post.js}"></script>
<script src="../static/profilePicture.js" th:src="@{/profilePicture.js}"></script>
</body>
</html>