<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All posts</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicom-32x32.png"
          th:href="@{/images/favicom-32x32.png}">
</head>
<body onload="filter_form.reset()">
<div th:replace="index.html :: navigation"></div>
<div class="main_container">
    <div th:fragment="toolbar" class="toolbar_container">
        <div class="toolbarChild_container">
            <button th:if="${isAuthenticated}" id="show_form" class="button--orange">Create New Post</button>
            <a th:unless="${isAuthenticated}" class="button--orange" href="#" th:href="@{/auth/login}">Create New Post</a>
        </div>

        <div class="toolbarChild_container">

            <a class="button--orange" href="#" th:href="@{/categories}">
                categories
            </a>
            <a class="button--orange" href="#" th:href="@{/posts}">
                all posts
            </a>
        </div>
    </div>

    <div class="table">
        <div id="first" class="row">
            <form id="filter_form" class="firstRowInner_container" action="#" th:action="@{/posts/filter}" th:object="${filterPostDto}" method="post">
                <div >
                    <span class="selectSort_label">Sort By:</span>
                    <select th:field="*{sort}" class="button--orange toolbar_button" name="" id="sort">
                        <option value="creationDate">Creation date (oldest)</option>
                        <option value="creationDate_desc">Creation date (newest)</option>
                        <option value="username">Username (A-z)</option>
                        <option value="username_desc">Username (Z-a)</option>
                        <option value="categoryName">Category name (A-z)</option>
                        <option value="categoryName_desc">Category name (Z-a)</option>
                        <option value="likes">Votes (Ascending)</option>
                        <option value="likes_desc">Votes (Descending)</option>
                    </select>
                    <span class="selectSort_label">Filter By:</span>
                    <select class="button--orange toolbar_button" onchange="filter(event)" name="">
                        <option value="Username">Username</option>
                        <option value="Content">Content</option>
                        <option value="tagName">Tag</option>
                        <option value="Title">Title</option>
                    </select>
                    <input id="search" onkeyup="mapSearchValue(event)" type="text" placeholder="filter">
                    <input id="title" class="filter_input" th:field="*{title}" type="hidden">
                    <input id="content" class="filter_input" th:field="*{content}" type="hidden">
                    <input id="tagname" class="filter_input" th:field="*{tagName}" type="hidden">
                    <input id="username" class="filter_input" th:field="*{username}" type="hidden">
                    <button class="button--orange toolbar_button">Apply</button>
                </div>
            </form>
        </div>
        <div class="row" th:unless="${posts.isEmpty()}">
            <div class="rowChild_container">
                <p th:text="${categoryTitle}" class="pageCategory_title">Category Title</p>
            </div>
            <div class="rowChild_container">
                <div class="cell" >
                    <img class="row_icon"  src="../static/images/comment.png" th:src="@{/images/comment.png}"
                    alt="">
                </div>
                <div class="cell">
                    <img class="row_icon" src="../static/images/like.png" th:src="@{/images/like.png}" alt="">

                </div>
                <div class="cell">
                    <span class="creationDate_label">Creation date</span>
                </div>
            </div>
        </div>
        <!--&lt;!&ndash;        <div id="second" class="row">&ndash;&gt;-->
        <!--&lt;!&ndash;        what &ndash;&gt;   <div class="rowChild_container"></div>-->
        <!--            <div class="rowChild_container rowIcons_container">-->
        <!--                <div class="cell" >-->
        <!--                    <img class="row_icon"  src="../static/images/comment.png" th:src="@{/images/comment.png}"-->
        <!--                         alt="">-->
        <!--                </div>-->
        <!--                <div class="cell">-->
        <!--                    <img class="row_icon" src="../static/images/like.png" th:src="@{/images/like.png}" alt="">-->

        <!--                </div>-->
        <!--                <div class="cell">-->
        <!--                    <span class="creationDate_label">Creation date</span>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->

        <div th:if="${posts.isEmpty()}">
            <h4>No posts yet...</h4>
        </div>
        <div class="row" th:unless="${posts.isEmpty()}"
             th:each="post: ${posts}">
            <div class="rowChild_container">
                <a  href="#" th:href="@{/users/{id}(id=${post.getUser().getId()})}">
                    <img class="postAuthor_image image--rounded" src="../static/images/user.png"
                         th:src="@{/users/{id}/image(id=${post.getUser().getId()})}" alt="Default user photo">
                </a>
                <div class="postRow_info">
                    <a href="#" th:href="@{/posts/{id}(id=${post.getId()})}">
                        <h3 th:text="${post.getTitle()}">title</h3>
                    </a>
                    <a href="#" th:href="@{/users/{id}(id=${post.getUser().getId()})}">
                        Author:
                        <span class="post_author" th:text="${post.getUser().getUsername()}">username</span>
                    </a>
                </div>
            </div>
            <div class="rowChild_container">
                <span class="cell" th:text="${post.getComments().size()}">0</span>
                <span class="cell" th:text="${post.getVotes().size()}">0</span>
                <span class="cell" th:text="${post.getFormattedCreationDate()}"></span>
            </div>
        </div>
    </div>
</div>

<div th:fragment="popupCreation_form" class="popup_wrapper hide">
    <div id="creationForm_background" class="popup_background"></div>
    <div class="createPostForm_container">
        <span id="createPost_close_btn" class="close_btn">X</span>
        <h2>Create New Post</h2>
        <form id="createPost_form" action="#" th:action="@{/posts}"
              th:object="${newPost}" method="post">
            <div class="form_row">
                <label for="title">Title</label>
                <input type="text" placeholder="e.g. I can’t find IT job" name="title" th:field="*{title}">
                <label class="error hide" id="titleError_label" >Title must be between 16 and 64 symbols</label>
            </div>

            <div class="form_row">
                <label for="content">Content</label>
                <textarea name="content" th:field="*{content}"></textarea>
                <label class="error hide" id="contentError_label" >Content must be between 32 and 8192 symbols</label>
            </div>

            <div class="form_row">
                <label for="tag_input">Tags</label>
                <input type="hidden" id="allTags_input" th:field="*{tags}" >
                <div id="tags_container"></div>
                <input type="text" id="tag_input" placeholder="e.g. social skills">
                <input class="button--lightOrange" type="submit" id="addTag_btn" value="Add tag to post">
            </div>
            <div class="form_row">
                <select th:field="*{categoryId}">
                    <option th:each="category : ${categories}"
                            th:value="${category.getId()}"
                            th:text="${category.getName()}">
                        CategoryTest
                    </option>
                </select>
            </div>
            <input class="button--lightOrange" type="submit" value="Save" id="createPost_btn">
        </form>
    </div>
</div>


<!--<div th:replace="index.html :: navigation"></div>-->
<!--<div class="posts_page_container">-->
<!--<div th:if="${posts.isEmpty()}">-->
<!--    <h2>No posts</h2>-->
<!--</div>-->
<!--<div th:unless="${posts.isEmpty()}">-->
<!--    <h2>All posts</h2>-->
<!--    <div class="posts_container">-->
<!--        <div class="row" th:each="post: ${posts}">-->
<!--            <div class="row&#45;&#45;left">-->
<!--                <div>-->
<!--                    <span th:text="${post.getLikesCount()}"></span>-->
<!--                    <span>votes</span>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <span th:text="${post.getCommentsCount()}"></span>-->
<!--                    <span>comments</span>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row&#45;&#45;right">-->
<!--                <div>-->
<!--                    <h3 th:text="${post.getTitle()}">title</h3>-->
<!--                    <span th:text="${post.getContent().substring(0,32).trim()+'.....'}">title</span>-->
<!--                </div>-->
<!--                <div>-->
<!--                <div th:each="tag: ${post.getTags()}">-->
<!--                    <h4 th:text="${tag.getTagName()}">No tags</h4>-->
<!--                </div>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <img class="user_default_icon" src="../static/images/user.png" th:src="@{/images/user.png}" alt="Default user photo">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->

<script src="../static/posts.js" th:src="@{/posts.js}"></script>
<script src="../static/profilePicture.js" th:src="@{/profilePicture.js}"></script>
</body>
</html>