<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getUsername()}">Title</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicom-32x32.png"
          th:href="@{/images/favicom-32x32.png}">
</head>
<body>
    <div th:replace="index.html :: navigation"></div>
    <div class="main_container">
        <div class="userInfo_container">
            <div class="profileImage_container">
                <img src="../static/images/user.png" class="user_img" th:src="@{/users/{id}/image(id=${userId})}" alt="">
            </div>
            <div>
                <p class="username" th:text="${user.getUsername()}">sofi</p>
                <p class="fullName" th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}">Sofi Stoyanova</p>
                <p class="fullName" th:text="'Blocked: '+ ${user.isBlocked()}">Blocked</p>
                <p th:if="${isLoggedUserAdmin && isUserAdmin && !phoneNumber.equals('none')}" class="fullName" th:text="'Phone-number: '+ ${phoneNumber}">PhoneNumber</p>
            </div>

            <div class="user_controllers controllers">
                <a th:if="${isLoggedUserAdmin || isLoggedUserProfileOwner}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/update}">edit |</a>
                <a th:if="${isLoggedUserAdmin || isLoggedUserProfileOwner}" href="#" onclick="deleteUser(event)" th:href="@{__${#httpServletRequest.requestURI}__/delete}">delete |</a>
                <a th:if="${isLoggedUserAdmin && !isLoggedUserProfileOwner}" href="#" onclick="blockUser(event)" th:href="@{__${#httpServletRequest.requestURI}__/block}">block |</a>
                <a th:if="${isUserAdmin && phoneNumber.equals('none') && isLoggedUserAdmin}" href="#"
                   th:href="@{__${#httpServletRequest.requestURI}__/phone-number}">
                    add phone-number |
                </a>
                <a href="#" th:if="${isUserAdmin && !phoneNumber.equals('none') && isLoggedUserAdmin}"
                   th:href="@{__${#httpServletRequest.requestURI}__/phone-number/update}">
                    edit phone-number |
                </a>
            </div>
        </div>

        <div class="userStats_container">
<!--            TODO - add if for mvc auth-->
            <div th:unless="${isLoggedUserAdmin}">
                <span class="userStats_label">Role: </span>
                <span class="userStats_value" th:text="${user.getRoleName()}">user</span>
            </div>

            <div th:if="${isLoggedUserAdmin}">
                <form id="updateRole_form" method="post" action="#" th:action="@{__${#httpServletRequest.requestURI}__/roles}">
                    <label class="userStats_label">Role: </label>
                    <select onchange="updateRole(event)" class="roles_select" name="roleName">
                        <option value="user">User</option>

                        <span th:if="${user.getRoleName().equals('admin')}">
                            <option selected value="admin">Admin</option>
                        </span>

                        <span th:unless="${user.getRoleName().equals('admin')}">
                            <option value="admin">Admin</option>
                        </span>
                    </select>
                </form>
            </div>

            <div>
                <span class="userStats_label">Email: </span>
                <span class="userStats_value" th:text="${user.getEmail()}">email</span>
            </div>

            <div>
                <span class="userStats_label">Creation date: </span>
                <span class="userStats_value" th:text="${user.getCreationDate()}">2022-02-23 11:17</span>
            </div>

            <div>
                <span class="userStats_label">Posts: </span>
                <span class="userStats_value" th:text="${postsCount}">0</span>
            </div>

            <div>
                <span class="userStats_label">Comments: </span>
                <span class="userStats_value" th:text="${commentsCount}">0</span>
            </div>
        </div>

        <div class="userPosts_container">
            <h2>Created posts</h2>
            <div class="table">

                <div id="second" class="row">
                    <!--        what -->   <div class="rowChild_container"></div>
                    <div class="rowChild_container rowIcons_container">
                        <div class="cell">
                            <img class="row_icon" src="../static/images/comment.PNG" th:src="@{/images/comment.png}"
                                 alt="">
                        </div>
                        <div class="cell">
                            <img class="row_icon" src="../static/images/like.png" th:src="@{/images/like.png}" alt="">

                        </div>
                        <div class="cell">
                            <span class="creationDate_label">Creation date</span>
                        </div>
                    </div>
                </div>

                <div th:if="${posts.isEmpty()}">
                    <h4>No posts yet...</h4>
                </div>
                <div class="row" th:unless="${posts.isEmpty()}"
                     th:each="post: ${posts}">
                    <div class="rowChild_container">
                        <img class="postAuthor_image image--rounded" src="../static/images/user.png" th:src="@{/users/{id}/image(id=${userId})}" alt="Default user photo">
                        <div class="postRow_info">
                            <a href="#" th:href="@{/posts/{id}(id=${post.getId()})}">
                                <h3 th:text="${post.getTitle()}">title</h3>
                            </a>
                            <p>
                                Author:
                                <span class="post_author" th:text="${post.getAuthorUsername()}">username</span>
                            </p>
                        </div>
                    </div>
                    <div class="rowChild_container">
                        <span class="cell" th:text="${post.getCommentsCount()}">0</span>
                        <span class="cell" th:text="${post.getLikesCount()}">0</span>
                        <span class="cell" th:text="${post.getCreationDate()}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/confirm.js" th:src="@{/confirm.js}"></script>
    <script src="../static/profilePicture.js" th:src="@{/profilePicture.js}"></script>
</body>
</html>