<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
        <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicom-32x32.png"
              th:href="@{/images/favicom-32x32.png}">
    </head>
    <body class="registerPage_body">
        <div th:replace="index.html :: navigation"></div>
        <div class="login_container ">
            <div class="register--outer">
                <div class="registerForm_container">
                    <div class="registerForm_background"></div>
                    <div>
                    <h2 class="registerForm_title">SOFT SKILLS FORUM FOR IT PEOPLE</h2>
                    <form id="register_form" action="#" th:action="@{/auth/register}" th:object="${register}" method="post">
                        <div class="form_row">
                            <label class="user_form_data">Username:</label>
                            <input type="text" placeholder="e.g. piarSeviBoiko" name="username" th:field="*{username}">
                            <label class="error" th:errors="*{username}">Username must be between 2 and 20 characters</label>
                        </div>
                        <div class="form_row">
                            <label class="user_form_data">First name:</label>
                            <input type="text" placeholder="e.g. Sevdalina" name="first_name" th:field="*{firstName}">
                            <label class="error" th:errors="*{firstName}">First name must be between 2 and 20  symbols</label>
                        </div>
                        <div class="form_row">
                            <label class="user_form_data">Last name:</label>
                            <input type="text" placeholder="e.g. Arnaudova" name="password" th:field="*{lastName}">
                            <label class="error" th:errors="*{lastName}">Last name must be between 2 and 20  symbols</label>
                        </div>
                        <div class="form_row">
                            <label class="user_form_data">Email:</label>
                            <input type="email" placeholder="e.g. influencer@gmail.com" name="email" th:field="*{email}">
                            <label class="error" th:errors="*{email}">Last name must be between 3 and 20  symbols</label>
                        </div>
                        <div class="form_row">
                            <label class="user_form_data">Password:</label>
                            <input type="password" placeholder="Enter your password" name="password" th:field="*{password}">
                            <label class="error" th:errors="*{password}">Last name must be between 8 and 20  symbols</label>
                        </div>
                        <div class="registerBorder--top">
                            <p>Join us</p>
                            <button type="submit" class="button--lightBlue" href="#">Start your journey!</button>
                        </div>

                    </form>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <img class="registerImage_container" src="../static/images/register.jpg" th:src="@{/images/register.jpg}">
        </div>
    </body>
</html>